@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,700&display=swap');

@mixin small-phone {
  @media (max-width: 599px) { @content; }
}
@mixin big-phone {
  @media (max-width: 900px) { @content; }
}
@mixin big {
  @media (min-width: 1200px) { @content; }
}


$font-family-sans: "Open Sans", sans-serif;
$font-family-sans-condensed: "Open Sans Condensed", sans-serif;
$font-root-size: 16px;

$color-black: #000000;
$color-white: #ffffff;
$color-light-gray: #ccc;
$color-very-light-gray: #eee;
$color-teal: #3d9999;
$color-red: #cc3300;

$padding-default: 0.5rem;

/* Adapted from CSS Mini Reset */

html,
body,
div,
form,
fieldset,
legend,
caption,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}
textarea, select, input, button { outline: none; }
table {
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  vertical-align: top;
}

img {
  border: 0;
}

/* Body/base styles */
body {
  font-family: $font-family-sans;
  font-size: $font-root-size;
  background-color: darken($color-white, 4%);
}
a {
  color: $color-teal;
  text-decoration: underline;
  transition: color 300ms ease;
  &:hover {
    color: $color-black;
  }
}


/* Header */
header {
  display: flex;
  background-color: $color-black;
  height: 2.4rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header > * {
  padding: $padding-default;
}
header h1 {
  font-family: $font-family-sans-condensed;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  flex-grow: 1;
  font-size: 1rem;
}
header a {
  color: $color-white;
  text-decoration: none;
  &:hover {
    color: $color-white;
    text-decoration: underline;
  }
}
main {
  padding-top: 2.4rem;
  background-color: $color-white;
}

/* Language switcher */
header .language > a {
  display: inline-block;
  font-family: $font-family-sans;
  font-size: .8rem;
  margin-left: 0.3rem;
  padding: .1rem .3rem;
  &.active {
    color: $color-black;
    background-color: $color-white;
  }
}

/* (Virtualized) Table */
.table .row {
  display: flex;
  justify-content: space-between;
}
.table .row > div {
  font-size: 0.875rem;
  width: 31%;
  padding: .1rem 2%;
  border-bottom: 1px dotted $color-light-gray;
}
.table-search {
  font-weight: 700;
  background-color: darken($color-white, 4%);
}
.table-search > div {
  display: flex;
  justify-content: space-between;
  padding: $padding-default;
  padding-bottom: 0;
  padding-top: 0;
}
.table-search .input-wrapper {
  padding-top: $padding-default;
  margin-bottom: .5rem;
}
.table-search .search-box {
  max-width: 420px;
  flex-grow: 1;
  position: relative;
}
.table-search .results {
  padding-bottom: $padding-default;
}
.table-search .results p {
  font-size: .7rem;
  padding-left: 0.7rem;
}
.table-search input {
  width: 95%;
  font-size: 1rem;
  line-height: 2.1rem;
  color: $color-black;
  padding-left: .6rem;
  border: 1px solid lighten($color-black, 40%);
  box-shadow: 1px 1px 0px lighten($color-black, 40%);
  border-radius: 1.8rem;
  background-color: $color-white;
}
.table-search a.button {
  display: block;
  line-height: 0;
  padding: 0;
  font-size: 1.9rem;
  margin-left: .2rem;
  margin-right: .2rem;
  margin-top: .2rem;
  color: $color-black;
  text-align: center;
  background: transparent;
  border: none;
  &:hover {
    color: $color-teal;
  }
}
.table-search .reset-button {
  display: block;
  position: absolute;
  top: .5rem;
  right: .9rem;
  border-radius: .9rem;
  font-size: 1rem;
  width: 1.5rem;
  text-align: center;
  overflow: hidden;
  background-color: lighten(black, 40%);
  color: white;
}
.table-search .reset-button svg {
  margin-bottom: -0.1rem;
}
.table-head .row > div {
  font-weight: 700;
  border-top: 1px dotted $color-light-gray;
  padding-top: $padding-default;
  padding-bottom: $padding-default;
}
.table-body {
  position: absolute !important;
  top: 9.5rem;
  background-color: $color-white;
  left: 0;
  bottom: 0;
  right: 0;

}
.table-foot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: darken($color-white, 4%);
  border-top: 1px solid lighten($color-black, 70%);
  box-shadow: 0 -1px 4px rgba(90, 90, 90, 0.4);

  &:before {
    content: "";
    position: absolute;
    height: 20%; width: 20%;
    background-size: cover;
    background: inherit;
    z-index: -1;
    transform: scale(5);
    transform-origin: top left;
    filter: blur(10px);
  }
}
.table-foot > div {
  padding: $padding-default;
  max-width: 900px;
}
.table-foot p {
  margin-bottom: .8rem;
  line-height: 1.6;
  font-size: .9rem;
}
.table-foot .table-foot-logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.table-foot .table-foot-logo > * {
  padding-top: .2rem;
  paddin-bottom: .2rem;
}
.table-foot .table-foot-logo img {
  max-width: 150px;
}
.table-foot .table-foot-source-line p {
  font-size: 0.8rem;
}
.table-foot .footer-state {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.table-foot .footer-state span {
  display: inline-block;
  margin-left: 0.75rem;
}
.table-foot .footer-state svg {
  display: inline-block;
  margin-bottom: -0.1rem;
}
.table-foot .footer-state .button span {
  color: $color-teal;
  text-decoration: underline;
}
.table-foot .footer-state .button svg {
  color: $color-teal;
}

.table .table-body .row {
  text-decoration: none;
  color: $color-black;
  transition: background-color 300ms ease;

  &:hover {
    background-color: $color-very-light-gray;
  }
}
.table .table-body .row .contacts p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table .row .unit-name {
  width: 41%;
}
.table .table-body .row .unit-name {
  color: $color-teal;
  font-weight: 600;
  transition: color 300ms ease;
  &:hover {
    color: $color-black;
  }
}
.table .row .county {
  width: 15%;
}
.table .row .contacts {
  width: 35%;
}

/* (Real) Unit table */
.unit {
  display: flex;
  justify-content: space-between;
  margin-top: 3.9rem;
  font-size: 0.8rem;
  flex-flow: row wrap;
}
.unit-header {
  padding: $padding-default;
  background-color: darken($color-white, 4%);
  position: fixed;
  top: 2.4rem;
  width: 100%;
  left: 0;
}
.unit-header > * {
  display: inline-block
}
.unit-header h1 {
  font-family: $font-family-sans-condensed;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.1;
  margin-bottom: .2rem;
  margin-right: .5rem;
}
.unit-header h2 {
  font-size: .875rem;
  font-weight: 600;
}
.unit-header h2 a {
}
.unit-contact {
  width: calc(50% - 2rem);
  padding: $padding-default;
  display: flex;
  margin-bottom: 2rem;
  flex-flow: row wrap;
  @include big-phone {
    width: 100%;
  }
}
.unit-contact h2 {
  flex: 0 0 100%;
  color: lighten($color-black, 35%);
  text-transform: uppercase;
  border-bottom: 1px dotted $color-light-gray;
  line-height: 1.3;
  margin-bottom: .5rem;
}
.unit-contact h2 span {
  display: block;
}
.unit-contact h2 .contact-type {
  font-size: .725rem;
  font-weight: 700;
}
.unit-contact h2 .unit-name {
  font-size: .8rem;
}
.unit-contact .meta {
  width: 9rem;
  margin-right: 0.5rem;
  text-align: left;
}
.unit-contact .meta h3 {
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: 700;
}
.unit-contact .meta h4 {
  font-size: .85rem;
  font-weight: 500;
  line-height: 1.4rem;
}
.unit-contact .details {
  width: calc(100% - 12rem);
  padding-top: .2rem;
}
.unit-contact .details p {
  line-height: 1.2rem;
  margin-bottom: .9rem;
  font-size: .925rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.unit-contact .details span {
  display: inline-block;
  width: 3.1rem;
}
.unit-contact .details a {
  font-weight: 700;
}
