$font-family-sans: "Open Sans", sans-serif;
$font-family-sans-condensed: "Open Sans Condensed", sans-serif;
$font-root-size: 16px;

$color-black: #000000;
$color-white: #ffffff;
$color-light-gray: #ccc;
$color-very-light-gray: #eee;
$color-teal: #3d9999;

$padding-default: 0.5rem;
$padding-default-vh: 1.1vh;

/* Adapted from CSS Mini Reset */

html,
body,
div,
form,
fieldset,
legend,
caption,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}
textarea, select, input, button { outline: none; }
table {
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  vertical-align: top;
}

img {
  border: 0;
}

/* Body/base styles */
body {
  font-family: $font-family-sans;
  font-size: $font-root-size;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Header */
header {
  display: flex;
  background-color: $color-black;
  height: 6.2vh;
}
header > * {
  padding: $padding-default-vh;
}
header h1 {
  font-family: $font-family-sans-condensed;
  margin: 0;
  text-transform: uppercase;
  flex-grow: 1;
  font-size: 2.8vh;
}
header a {
  color: $color-white;
  text-decoration: none;
}

/* Language switcher */
header .language > a {
  display: inline-block;
  font-family: $font-family-sans;
  font-size: 2.1vh;
  margin-left: 0.3rem;
  padding: .1rem .3rem;
  &.active {
    color: $color-black;
    background-color: $color-white;
  }
}

/* (Virtualized) Table */
.table {
  position: relative;
}
.table-search {
  font-weight: 700;
  height: 6.3vh;
  background-color: $color-teal;
}
.table-search > div {
  display: flex;
  padding: $padding-default-vh;
}
.table-search input {
  font-size: 2.2vh;
  padding: 0.5vh 0.8vh;
  border: 1px solid lighten($color-black, 10%);
  flex-grow: 1;
  margin-right: 1.5vh;
}
.table-search button {
  padding: 0;
  font-size: 3vh;
  width: 4.6vh;
  text-align: center;
  background: transparent;
  border: none;
}
.table-head {
  font-weight: 700;
  height: 4.7vh;
}
.table-body {
  height: 85.3vh;
}
.table-foot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: $color-teal;
  color: $color-white;
  border-top: 1px solid $color-black;
  box-shadow: 0 0 0 $color-black;
}
.table-foot > div {
  padding: $padding-default-vh;
  font-size: 2.1vh;
}
.table-foot p {
  margin-bottom: 1.2vh;
  line-height: 1.6;
}

.table .row {
  display: flex;
}
.table .row > div {
  font-size: 0.7rem;
  flex-grow: 1;
  width: calc(33% - 2.2vh);
  padding: $padding-default-vh;
  border-bottom: 1px dotted $color-light-gray;
}
.table .table-body .row {
  text-decoration: none;
  color: $color-black;
  transition: background-color 300ms ease;

  &:hover {
    background-color: $color-very-light-gray;
  }
}
.table .table-body .row .contacts p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table .row .unit-name {
  width: calc(40% - 2.2vh);
}
.table .row .county {
  width: calc(20% - 2.2vh);
}
.table .row .contacts {
  width: calc(40% - 2.2vh);
}

/* (Real) Unit table */
.unit {
  padding: $padding-default-vh;
  font-size: 0.8rem;
}
.unit h2 {
  font-size: .8rem;
  margin-bottom: 1rem;
}

.unit h1 {
  font-family: $font-family-sans-condensed;
  font-weight: 700;
  font-size: 1.5rem;
}
.unit-contact {
  display: flex;
  margin-bottom: 2rem;
}
.unit-contact .meta {
  width: 18%;
  margin-right: 1rem;
  font-size: .7rem;
  text-align: center;
}
.unit-contact .meta button {
  font-size: .7rem;
  padding: .25rem 0;
  border: 1px solid $color-light-gray;
  background-color: transparent;
}
.unit-contact .meta h3 {
  margin-bottom: .5rem;
  font-weight: 700;
  padding: .25rem 0;
  color: $color-white;
  background-color: darken($color-light-gray, 30%);
}
.unit-contact .details {
  flex-grow: 1;
}
.unit-contact p {
  margin-bottom: 0.15rem;
}
.unit-contact h4 {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.15rem;
}
